#app-main-content {
    height: calc(100vh - 1.5rem);
    padding: 0 !important;

    @media screen and (max-width: 640px)  {
        height: calc(100vh - 1.5rem - 128px);
    }
}

#container-messages {
    background-size: cover;
    background-position: center;
    background-color: white;

    .chat.chat-start .chat-bubble {
        background-color: white;
        color: black;
    }

    .chat.chat-end .chat-bubble {
        background-color: #E2FFE7;
        color: black;
    }
}